body {
    padding-top:70px;
}

.navbar-default .navbar-nav > .active > a {
    animation: 0.5s nav_menu_fade_in;
    -webkit-animation: 0.5s nav_menu_fade_in;
}

.alert {
    -moz-transition: 0.25s linear all;
    -o-transition: 0.25s linear all;
    -webkit-transition: 0.25s linear all;
    transition: 0.25s linear all;

    display: block !important;
    opacity: 1;
    height:50px;
}

.alert.ng-hide {
    opacity: 0;
    height:0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

@keyframes nav_menu_fade_in {
    from { background-color: transparent; }
    to { background-color: #e7e7e7; }
}

@-webkit-keyframes nav_menu_fade_in {
    from { background-color: transparent; }
    to { background-color: #e7e7e7; }
}